[Unit]
Description=systemd
Documentation=https://example.com
After=network.target

[Service]
WorkingDirectory=/home/admin/webapp/
EnvironmentFile=/home/admin/webapp/.env
Type=simple
User=webappuser
ExecStart=/usr/bin/node /home/admin/webapp/server.js
Restart=on-failure

[Install]
WantedBy=cloud-init.target

