[Unit]
Description=systemd
Documentation=https://example.com
After=network.target

[Service]
WorkingDirectory=/opt/webappuser/webapp
EnvironmentFile=/opt/webappuser/webapp/.env
Type=simple
User=webappuser
ExecStart=/usr/bin/node /opt/webappuser/webapp/server.js
Restart=on-failure

[Install]
WantedBy=cloud-init.target

