[Unit]
Description=systemd
Documentation=https://example.com
After=network.target

[Service]
WorkingDirectory=/opt/webapp/
EnvironmentFile=/opt/webapp/.env
Type=simple
User=webappuser
ExecStart=/usr/bin/node /opt/webapp/server.js
Restart=on-failure

[Install]
WantedBy=cloud-init.target

